doctype html
html
    include ./includes/head.jade
        style.
            .chatlog td{
                padding: 5px;
            }
    body
        .container
            include ./includes/header.jade
            h3 Chat Logs (#{record.date}):
            table.chatlog
                -function prettyDate(dateString){
                    -var date =  new Date(dateString);
                    -var d = date.getDate();
                    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                    -var m = monthNames[date.getMonth()];
                    -var y = date.getFullYear();
                    -var h = date.getHours();
                    -var min = date.getMinutes();
                    -var s = date.getSeconds();
                    -return h+':'+min+':'+s;
                -} 
                tbody
                    each message in record.messages
                        tr(id="#{prettyDate(message.timestamp)}") 
                            td 
                                i #{prettyDate(message.timestamp)}
                            td 
                                b(style="color:"+message.color) #{message.username}
                            td #{message.msg}